<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6"><h1 class="m-0">Administración</h1></div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
          <li class="breadcrumb-item active">Administración</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      @for (acceso of accesos; track acceso.ruta) {
        <div class="col-lg-4 col-md-6 col-12 mb-3">
          <div class="card h-100 border-left-{{ acceso.color }}">
            <div class="card-body d-flex align-items-center">
              <div class="mr-3">
                <i class="{{ acceso.icono }} fa-2x text-{{ acceso.color }}"></i>
              </div>
              <div class="flex-grow-1">
                <h5 class="card-title mb-1">{{ acceso.titulo }}</h5>
                <p class="card-text text-muted small mb-2">{{ acceso.descripcion }}</p>
                <a [routerLink]="acceso.ruta" class="btn btn-sm btn-{{ acceso.color }}">
                  <i class="fas fa-arrow-right mr-1"></i>Ir
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
